@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap')
$purple: #924AC6
$fucsia: #B60478
$blue-purple: #4E36B8
$footer-background: #F5E8FF

body
    font-family: Capriola

/* -------------------------------- NavBar ---- */
.menu-web
    display: none

.cont_nav
    background-color: $purple
    h1
        color: white
        text-transform: uppercase
        font-size: 28px
        margin-bottom: 0
    button
        border: none
        padding: 0
        &:active
            border: none
        .burger_icon
            width: 50px
            color: white
            font-size: 35px

.menu_body
    position: relative

.x_icon
    position: absolute
    right: 8%
    top: 4%
    color: $purple

.div_ppal
    margin-top: 5%
    font-size: 22px
    width: 100%
    justify-content: space-between
    a
        margin-bottom: 5%
        text-decoration: none
        color: inherit
    .list_one
        i
            color: $fucsia
            margin-right: 4%
    .list_two
        i
            color: $blue-purple
            margin-right: 4%

/* ---- Home ---- */
.carrusel
    display: flex
    overflow-y: auto
    img
        object-fit: cover
        height: 200px
        margin: 0.3%
        border-radius: 3px

.serv-card
    border: green 2px solid
    width: 90%
    margin: auto

/* -------------------------------- Footer ---- */
.cont_footer
    position: absolute
    bottom: 0
    flex-direction: column
    background-color: $footer-background
    .div_info 
        flex-direction: column
        .info
            margin: 2% 0 3% 0
            h5
                margin: 0 
                font-size: 16px
            i
                color: $fucsia
                margin-right: 2.5%
        
        .pagos
            img
                width: 85%
                margin: 1% 0 3% 0
                border-radius: 3px
        
        .socialm
            ul
                padding: 0
            &__list
                list-style: none
                font-size: 20px
                color: $fucsia

    .powered
        background-color: $purple
        color: white
        padding: 3%
        text-align: center
        h5
            font-size: 14px
        a
            color: inherit

@media screen and (min-width: 768px)

    /* -------------------------------- NavBar ---- */
    .menu-burguer
        display: none

    .menu-web
        display: flex
        position: fixed
        width: 20%
        height: 98%
        margin-left: 1%

    .name_logo
        color: $purple
        text-transform: uppercase
        i
            margin: 5% 0
            font-size: 150px

    .div_ppal
        margin: 12% 3%
        a
            margin-bottom: 3%
        .list_two
            margin-top: 50%
            i
                color: $blue-purple

    /* ---- Home ---- */

    .serv-card
        width: 30%
    
    /* ------------- Footer ---- */
    .cont_footer
        .div_info
            flex-direction: row
            .info
                width: 35%
            .pagos
                width: 30%
        
        .powered
            padding: 1%
            h5
                font-size: 20px